.inner-con {
    width: 90%;
    background: rgb(40, 38, 38);
}

.episode-con {
    display: flex;
    justify-content: center;
}

.label-con {
    padding: 20px;
}

.episodes-block-nav-con {
    background: black;
}

.episodes-block-nav-con > ul {display: flex;gap: 25px;list-style: none;padding: 10px 25px;margin: 0;}

.episode-block {
    display: none;
}


.episode-block > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 25px;
    margin: 0;
    list-style: none;
}

li.episode-link {
    background: blue;
    padding: 10px;
}

a.episode {
    color: wheat;
    text-decoration: none;
}

.episode-block.active {
    display: block;
}


