
body {
    background-color: #1c1717;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

    .dropdown button {
      background-color: #1d0cff; /* Yellow background */
      color: #000; /* Black text color */
      padding: 10px;
      border: none;
      cursor: pointer;
    }
    p {
        background-color: #2b2b2b; /* Yellow background */
        color: #f0ecf0;
        border: 1px;
    }

    
    ropdown-content {
      display: none;
      position: center;
      background-color: #282727;
      color: #3f1dff; /* Yellow text color */
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px;
      z-index: 1;
    }
    
    