<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
    <script defer src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    <title>Your Page Title</title>
</head>
<body>

   <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
   >
    <source src="https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8" type="application/x-mpegURL">
   </video>

   <script>
    document.addEventListener('DOMContentLoaded', () => {
      const player = videojs('my-video');
    });
   </script>

   
</body>
</html>